/*! CSS bare bones for recipes site */

 html {
  font-family: 'Times New Roman', Times, serif
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

*  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

/* the rest is up to you */


@font-face {
  font-family: 'lacquerregular';
  src: url('lacquer-regular-webfont.woff2') format('woff2'),
       url('lacquer-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'varela_roundregular';
  src: url('varelaround-regular-webfont.woff2') format('woff2'),
       url('varelaround-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

.title {
  font-size: 40px;
}

.title:hover
{
color: red;


}




body {
  background-color: bisque;
  font-family: 'varela_roundregular';
  padding-top: 7em;
  background-image:url(https://i.ibb.co/tP2bGNx/cheese-pattern-background-1236-182-jpg.webp);
  background-position: center;
  background-repeat: repeat-x;
  background-size: cover;
  height: 100%;
  

}

ol {
  list-style-position: inside;
  margin-left: 1em;
  
}

ol li {
  font-size: 1em;
  line-height: 1.8;
  margin-left: 2em;
  padding-right:60px;
  padding-top: 10px;
  

}
h1,h2 {
  color:rgb(238, 90, 5);
  font-family: 'lacquerregular';
  text-align: center;
  padding-bottom: 10px;
  }

.site-title {
  color: rgb(255, 252, 200);
}
  
  h2 {
    margin: 1em 0 0 0;
    color: rgb (255, 181, 10);
  }
  
  p {
    margin-bottom: 1.5em;
    line-height: 1.5;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  header {
    text-align: center;
    background-color: rgb(238, 119, 0);
    position:fixed;
    top: 0;
    padding: 1em 0;
    width: 100%;
    z-index: 1;
    height:6rem;
    
  }
  
  header a {
    text-decoration: none;
    color: rgb(255, 252, 200);
    font-family: 'lacquerregular';
  }
   
  a {
    text-decoration: none;
    color: rgb(255, 252, 200);
    font-family: 'varela_roundregular';    
  }
  
  header h1 {
    margin: auto;
    font-family: 'lacquerregular';
    font-size: 40px;
    justify-content: center;
  }
  
  img {
    display: block;
    width: 100%;
    float: right;
    padding: 20px;
  }
  
  
  nav a {
    color:white;
    text-decoration: none;
    font-family: 'varela_roundregular';
  }
  
  nav {
    background-color: rgb(238, 119, 0);
    display: block;
    /* border: 1px solid red; */
    width: 15%;
    padding: 24px;
    margin: 0;
  min-width: 120px;
  position:fixed;
  top:em;
  left: 10px;
  z-index: 12;
  }
  
  nav ul li {
  font-size: .8rem;
  }
  
nav ul {
 list-style-type: none;
}
  
  h2#ingredients {
  color: orange;
  }
  
  /* making the first paragraph a little different. */
  main p:first-child {
    font-size: 1.2rem;
    color:white;
  }
  
  .recipehere {
  color:white;
  }
  
  
  main {
  width:70%;
  max-width: 700px;
  /* border:1px solid green; */
  margin: 0 auto;
  background-color: white;
  padding:12px;
  }
  
  main ul {
    color: rgba(130, 50, 0, 0.914);
    font-size: 1em;
    line-height: 1.3;
    margin-left: 4em;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  main ul li {
    margin-top: .3em;
  }
  
  footer {
    display: block;
    text-align: center;
    padding: 1em;
  }
  
  .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .recipe-teaser {
    background-color: rgb(255, 181, 10);
    flex-basis: 300px;
    padding: 1em;
    margin: .5em;
    flex-grow: 1;
  }
  @media screen and (max-width: 700px) {
  
  

  nav {
  margin:0;
  position: static;
  width:100%;

  }
  
  nav ul {
  font-size:1rem;
  }
  
    main {
    width: 100%;
    }
  
    body {
    background-color: white;
    padding-top: 6em;
  }
  
  
  img {
    float:none;
    margin:0 auto;
    width:100%;
  }
  }
  
  @media screen and (max-width: 500px) {
  
    
  nav {
  position:relative;
  top:0;
  left:0;
  width:100%;
  text-align: center;
  }
  
  nav ul {
    list-style: none;
  }
  
  html {
    font-size: 80%;
  }
  
  header h1 {
  font-size: 1.8em;
  }
  
  }
  
  
